@model SistemaCursosOnline.Models.TbUser

@{
    ViewData["Title"] = "Logueo";
}

<h1>Logueo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dni" class="control-label">DNI</label>
                <input asp-for="dni" class="form-control" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Contraseña</label>
                <input asp-for="password" type="password" class="form-control" /> 
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group" style="margin-top: 35px;">
                <input type="submit" value="Ingreso" class="btn btn-primary" />
                <a asp-action="Logueo" class="btn btn-primary">Limpiar</a>                
            </div>
        </form>
        <span style="color: red;">@ViewBag.message</span>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

