/* _content/SistemaCursosOnline/Views/Access/Login.cshtml.rz.scp.css */
.btn[b-gjm9e0df1n] {
    width: 100px;
}
/* _content/SistemaCursosOnline/Views/CoursesByTeacher/Index.cshtml.rz.scp.css */
.cv[b-5v26jzbtp4] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.url[b-5v26jzbtp4] {
    display: flex;
    align-items: center;
}

.url > *[b-5v26jzbtp4] {
    padding-left: 10px;
}
/* _content/SistemaCursosOnline/Views/Home/Index.cshtml.rz.scp.css */
.container[b-5dhhjvhytd] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card[b-5dhhjvhytd] {
    width: 48%;
    height: 250px;
}

.course-img[b-5dhhjvhytd] {
    width: 40%;
}

.center[b-5dhhjvhytd] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description[b-5dhhjvhytd] {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img[b-5dhhjvhytd] {
    cursor: pointer;
    width: 160px;
    height: 160px;
}

.information[b-5dhhjvhytd] {
    display: flex;
    height: 100%;
}
/* _content/SistemaCursosOnline/Views/ScheduleAvailable/Index.cshtml.rz.scp.css */
.table[b-n19xeww4r6] {
    margin-top: 50px;
}
/* _content/SistemaCursosOnline/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.btn-primary[b-mazoobjhkc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container[b-mazoobjhkc] {
  margin-top: 25px;
  height: calc(100vh - 320px);
}

.pb-3[b-mazoobjhkc] {
  height: 100%;
}

.navbar-container[b-mazoobjhkc] {
    width: 100%;
    margin-top: -25px;
}

.navbar-menu[b-mazoobjhkc] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

}

.navbar-link[b-mazoobjhkc] {
    padding: 5px 30px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid gray;
    background: rgb(194,190,190);
}

.background[b-mazoobjhkc] {
    width: 100%;
    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,23,18,1) 45%, rgba(0,212,255,1) 100%);
}


.border-radius-left[b-mazoobjhkc] {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


.border-radius-right[b-mazoobjhkc] {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* _content/SistemaCursosOnline/Views/Teachers/Index.cshtml.rz.scp.css */
.container[b-iw9kc0ior1] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card[b-iw9kc0ior1] {
    width: 48%;
    height: 250px;
}

.course-img[b-iw9kc0ior1] {
    width: 40%;
}

.center[b-iw9kc0ior1] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description[b-iw9kc0ior1] {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img[b-iw9kc0ior1] {
    cursor: pointer;
    width: 160px;
    height: 160px;
}

.information[b-iw9kc0ior1] {
    display: flex;
    height: 100%;
}
